@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Roboto' sans-serif;
}

.app {
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #878787;
  color: aliceblue;
}

.title {
  font-size: 50px;
  font-family: 'Roboto' sans-serif;
  font-weight: 700;
}

.timer {
  color: aliceblue;
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto' sans-serif;
  font-weight: 300;
}

.buttons button{
  margin-top: 20px;
  outline: none;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.buttons button:hover {
  border-radius: 10px;
  background: #f5f8ca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.buttons button:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 780px) {
  .title{
    font-size: 25px;
  }
  
  .timer {
    font-size: 80px;
  }

  .buttons button {
    font-size: 18px;
  }
}
